body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContainer {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header,
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin: -20px -20px 20px -20px;
}

footer {
  margin: 20px -20px -20px -20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

.toggle-link {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #4caf50;
  text-decoration: none;
}
.toggle-link:hover {
  text-decoration: underline;
}
